/* You can add global styles to this file, and also import other style files */

@import 'bootstrap';

@media screen and (max-width: 600px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }
    thead tr {
        display: none;
    }

    td:before {
        content: attr(data-column);
        font-weight: bold;
        padding-right: 10px;
        width: 40%;
        float: left;
    }
}

